body {
    padding:0;
    margin:0;
    background: var(--background-color);
}
:root {
  --primary-color: #000000;
  --color-button-text:#fff;
  --secondary-color: #FF6E4B;
  --tertiary-color:#0050FF;
  --qna-heading-color:#0D399B;
  --background-color:#D6EBFF;
  --font-size-base: 16px;
}
a {
    color:var(--primary-color);
    text-decoration: none;
}
a img {
  border: none;
  vertical-align: top;
}
ul li {
    list-style: none;
}
/*PC表示*/
/*ヘッダー*/
.header {
    display: flex;
    position: fixed;
    padding: 20px 0;
    z-index: 1000;
    width: 100%;
    justify-content: center;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    z-index: 10;
    height:74px;
    max-width: 860px;
    width: 100%;
    padding:15px 20px 15px 30px;
    border-radius: 37px;
    background: #fff;
}
.header__logo-img {
    width:50%;
    padding: 0 0 10px 0;
}
/*資料ダウンロードボタン*/
.header__button--download {
    position: relative;
    padding: 10px 40px 10px 30px;
    border-radius: 22px;
    background: var(--secondary-color);
    color: var(--color-button-text);
    margin: 0 4px 0 0;
    transition: all 0.2s ease;
}
.header__button--download::after{
    content:"";
    display: inline-block;
    width:1.2em;
    height:1.2em;
    background-image: url('../image/download.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top:50%;
    right: 1.2em;
    transform: translateY(-50%);
    pointer-events: none;
}
/*資料ダウンロードボタンホバー*/
.header__button--download:hover {
    background-color:#48ACFF;
}
/*お問い合わせボタン*/
.header__button--contact {
    position: relative;
    padding: 10px 40px 10px 30px;
    border-radius: 22px;
    background: var(--tertiary-color);
    color:var(--color-button-text);
    transition: all 0.2s ease;
}
.header__button--contact::after {
    content:"";
    display: inline-block;
    width:1.2em;
    height:1.2em;
    background-image: url('../image/mail.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top:50%;
    right:1.2em;
    transform: translateY(-50%);
    pointer-events: none;
}
/*お問い合わせボタンホバー*/
.header__button--contact:hover {
    background: #48ACFF;

}
/*メインビジュアル*/
.hero {
    display: flex;
    padding: 120px 0 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}
.hero__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 173%;
    text-align: center;
    margin: 0 0 30px 0;
}
.hero__logo {
    width:33%;
}
.hero__content {
    text-align: center;
}
.br--desktop {
    display: block;
}
.br--sp {
    display: none;
}
.hero__description {
    margin:30px 0;
}
.hero__media {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero__media-item {
    width:13.3%;
}
/*こんな課題ありませんか*/
.pain-points {
    display: flex;
    padding: 0px 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.pain-points__wrapper {
    flex-wrap: wrap;
    display: flex;
    max-width: 860px;
    width: 100%;
    padding: 100px 160px;
    margin: 50px 0 0 0;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    position:relative;
}
/* 枠外に三角矢印を配置 */
.pain-points__wrapper::after {
    content: "";
    position: absolute;
    bottom: -1.125rem;
    left: 50%;
    transform: translateX(-50%);
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
    border-top: 3.125rem solid #fff;
}
.pain-points__title {
    color: #000;
    text-align: center;
    font-size:2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
    margin: 0 0 40px 0;
}
.pain-points__list {
    display: flex;
    flex-direction: column;
    height: 410px;
    row-gap: 26px;
    padding:0;
    margin:0;
    width: 100%;
    flex-wrap: wrap;
}
.pain-points__item {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background:var(--background-color);
    border-radius: 30px 30px 30px 0px;
    width:75%;
    margin-right:auto ;
}
.pain-points__item:nth-child(even) {
    border-radius: 30px 30px 0px 30px;
    width:75%;
    margin: 0 0 0 auto;
}
.pain-points__media {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:space-between;
    align-items: baseline;
}
.pain-points__media-item {
    width:14%;
}
/*悩み解決セクション*/
.solution {
    position: relative;
    overflow: hidden;
   
}
.solution__title {
    margin: 80px auto 20px;
    font-size: 2.25rem;
    font-weight: 700;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: end;
}
.solution__border {
    max-width: 53.75rem;
    aspect-ratio: 1/1 ;
    border-radius: 50%;
    background: #fff;
    margin: auto;
    padding:1rem;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.only-sp {
    display: none;
}
.only-pc {
    display: block;
    padding:0 20px;
}
.solution__wrapper {
    max-width: 860px;
    width:100%;
    text-align: center;
}
.solution__main-title {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.solution__main-title-text:nth-of-type(2) {
    margin:0 0 0 20px;
}
.solution__logo {
    display: flex;
    align-items: end;
}
.solution__main-title-logo {
    width:88%;
    padding: 0 20px;
}
.solution__main-title-logo-mark {
    padding:0 0 11px 0;
}
.solution__description-container {
    margin:40px 0 0 0; 
}
.solution__description {
    margin:0 0 30px 0;
}
/*オレンジと青の装飾*/
.decorators {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0; 
}

.solution__border{
position: relative; 
overflow: visible; 
margin:66px auto 0;
z-index: -2;
}

.decorators {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}
.decorators__circle {
  position: absolute;
  border-radius: 50%;
}

.decorators__circle--1 {
    width: 28.125rem;
    height: 28.125rem;
    background: var(--tertiary-color);
    left: -225px;
    top: 121px;
    z-index: -3;
}
.decorators__circle--2 {
  width: 25rem;
  height: 25rem;
  background:var(--tertiary-color);
  right: -199px;
  bottom: 38px;
  z-index: 10;
}
.decorators__circle--3 {
  width: 13.125rem; 
  height: 13.125rem;
  background:var(--secondary-color);
  top: 45px;
  right: 43px;
  z-index: -2;
}
.decorators__circle--4 {
  width: 13.75rem;
  height: 13.75rem;
  background: var(--secondary-color);
  left: 1px;
  bottom: 61px;
  z-index: 10;
}
/*導入事例*/
.case-studies {
    margin:60px auto 80px;
}
.case-studies__title {
    margin: 0 0 40px 0;
    text-align: center;
}
.case-studies__title-logo {
    padding:10px 0;
}
.case-studies__wire {
    width: 100%;
    max-width: 860px;
    margin: auto;
    text-align: center;
}
.case-studies__subtitle {
    margin: 0 0 40px 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.highlight--strong {
    font-size: 1.625rem;
    font-size: 700;
    color: var(--secondary-color);
}
.case-studies__description {
    margin: 0 0 40px 0;
    text-align: center;
}
.case-studies__trusted img {
    width:75%;
}
.case-studies__emphasis {
    font-weight: 700;
    color:var(--tertiary-color);
}
/*スライド*/
/*右から左へ流れる*/
.introduction_slider {
    overflow: hidden;
}
.slider_track {
    margin:40px 0 0 0;
    padding: 0;
    display: flex;
    gap: 20px;
    animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * (250px + 20px) * 9)); }
}

.card {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 20px;
}
.carousel:hover .carousel__track {
  animation-play-state: paused;
}
.card {
    height:auto;
    width:250px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    margin:0;
}
.card__img {
    width:100%;
    height:150px;
    border-radius: 10px 10px 0 0;
    display: block;
    object-fit: cover;
}
.card__wire {
    padding:20px;
}
.card__title {
    margin:0 0 8px;
    font-size: 0.875rem;
}
.card__company {
    margin:15px 0;
    font-size: 0.75rem;
    color:#666;
}
.slider__item {
    font-size: 0.875rem;
    font-weight: 700;
}
.slider__item {
    font-size: 0.75rem;
    font-weight: 700;
}
.card__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 0.75rem;
}
.card__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    align-items: flex-start;
}
.card__label {
     font-size: 0.75rem;
    min-width: 48px;
    flex-shrink: 0;

}
.card__value {
    flex: 1;
    flex-wrap: break-word;
}
/*プラン*/
.plan {
    margin: 60px auto 40px;
    text-align: center;
}
.plan__title {
    text-align: center;
    margin: 0 0 40px 0;
}
.plan__title__logo {
    padding:10px 0;
}
.plan__subtitle {
    margin: 0 0 40px 0;
}
.plan__description {
    margin:0 0 40px 0;
}

/*プラン共通パーツ*/
.plan-card__text {
    text-align: start;
    margin: 20px 0;
    font-size: 0.875rem;
}
.plan-card__text--extra-space {
    margin:30px 0 20px 0;
}
/*SpeedX SpeedXResilience　含む３列のプラン表*/
.coming-soon {
    display: block;
}
/*LeadX プラン*/
.plan__list {
    display: flex;
    justify-content:center;
    gap:40px;
    max-width: 1130px;
    height: 502px;
    width:100%;
    margin: auto;
    position: relative;
}
.divider {
    width: 0;
    border-left: 1px solid #0000001A;
}
.plan-card__logo {
    padding:0 0 19px 0;
}
.plan-card {
    background: #fff;
    border-radius: 50px;
    padding:40px 30px;
    max-height: 570px;
}
.plan-card.plan-card--leadx {
    max-width:450px;
    padding:40px 30px;
    width:100%;
    height:auto;
}
.plan-card__partner-logo{
    width:55%;
}
/*SpeedX プラン*/
.plan-card.plan-card--speedx {
    max-width: 640px;
    width:100%;
}
.plan-card__logo-group {
    display: flex;
    justify-content: center;
}
.plan-card__logo-group img {
    display: block;
    padding:0 40px 11px;
}
.plan-card__logo-group img:nth-of-type(2) {
    display: block;
    padding:0 40px 5px;
}
.plan-card.plan-card--speedx >.plan-card__partner-logo{
    width:36%;
} 
.plan-card__note {
    font-size: 0.625rem;
    margin: 20px 0 0;
    text-align: start;
    color:#00000080;
}
.u-margin-top {
    margin-top:2rem;
}
.plan__decorator-circle {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background:var(--tertiary-color);
    top: 350px;
    right:-150px;
    z-index: -2;
}
/*プラン表*/
.pricing {
  padding: 0 0 40px;
  position: relative;
}
/*PC時は非表示*/
 .nav-arrow{
    display: none;
 }
/*三角矢印*/
.pricing__wrapper {
  max-width:1130px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}
.pricing__empty {
    width: 200px;
    padding:0;
}
/*オレンジ色の円の装飾*/
.pricing__decorator-circle  {
    position:absolute;
}

.pricing__circle--1 {
    width:13.75rem;
    height:13.75rem;
    border-radius: 50%;
    background: var(--secondary-color);
    top:200px;
    left: 98px;
    z-index: -3;
}
.pricing__circle--2 {
    width:13.75rem;
    height:13.75rem;
    border-radius: 50%;
    background: var(--secondary-color);
    transition: 826px;
    right: 144px;
    top:50%;
    z-index: -3;
}
.pricing-table {
  width: 100%;
  max-width: 1130px;
  border-collapse:separate;
  border-spacing: 0;
  font-size: 0.875rem;
  table-layout: fixed;
  padding: 30px;
}
.pricing-table tbody  {
    border-top: 30px solid transparent;
}
.pricing-table thead th {
    padding:0;
}

.pricing-table thead th  {
    margin-bottom:30px;
}
/* .pricing-table thead th:nth-child(1) {
    padding:0;
} */
.pricing-table th,
.pricing-table td {
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  word-break: break-word;
}
.pricing__item td {
    padding: 0;
    text-align: start;
}
.pricing-table thead th {
    font-weight: 500;
    font-size: 1.5rem;
    padding:0 20px;
}

.pricing-table .divider {
  font-weight: 700;
  text-align: left;
  font-size: 1rem;
  padding: 30px 0 10px 0;
  border-bottom: solid 1px #0000001A;
  border-left: none;
}
.pricing__tr {
    gap:10px;
    padding:10px 0;
}
.pricing__price {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
.pricing__price-small {
    font-size: 0.875rem;
}
.pricing__item {
    text-align: start;
}
.pricing-table .small {
  font-size: 0.7rem;
  display: block;
  margin-top: 4px;
}
.pricing-table td.pricing__item {
    text-align: left !important;
    padding-left: 0;
    min-width: 200px;
}
.pricing__tr > .pricing__item > .pricing__item-duration {
    padding:10px 20px;
}
.pricing__cell-large {
    font-size: 1.25rem;
}
.pricing__cell-small {
    font-size: 0.875rem;
}
/*円の指定*/
 .pricing__circle {
    font-size: 1.5rem;
    padding:0 20px;
}

.pricing__label {
    font-size: 0.875rem;
    display: block;
}
/*オプション*/
.option {
  padding: 0 0 80px;
  position: relative;
}
/*青い円の装飾*/
.option__decorator-circle {
    position: absolute;
    width:25rem;
    height:25rem;
    border-radius: 50%;
    background: var(--tertiary-color);
    top: -140px;
    left: 50px;
    z-index: -3;
    overflow-x: hidden;
}
.option__inner {
  background-color: #fff;
  max-width: 640px;
  margin: 0 auto;
  padding:30px;
  border-radius: 50px;
  display: flex;
  box-sizing: border-box;
}

.option__title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.option__table {
     display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.875px;
    margin: 0 0 0 50px;
    text-align: start;
} 

.option__row {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
}

.option__item {
  min-width: 250px;
}

.option__price {
  margin:0 0 0 20px;
  
}
.option__description {
    text-align: center;
    font-size: 1.125rem;
    margin:40px 0 0;
}
/*フロー*/
.flow {
    padding:60px 0 80px;
    margin:auto;
}
.flow__title {
    padding:0 0 40px 0;
    margin: 0;
    text-align: center;
}
.flow__title img {
    padding: 10px 0;
}
.flow__container {
    max-width: 860px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 100px auto 0;
}
.flow__step {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    padding:20px 10px;
    margin:0 7px;
    position: relative;
}
.flow__step-label {
    display: block;
    color:var(--secondary-color);
}
 .flow__step-arrow--sp {
    display: none;
 }
.ja{
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.en {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
}

.flow__hover {
    width: 250px;
    height: auto;
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    transform: translateY(20px);
    top: 170px;
    left: 50%;
    transform: translate(-50%, 20px);
    z-index: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
    visibility: hidden;
}
.flow__step:hover .flow__hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,0);
}
.flow__description {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: start;
}
.flow__number {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    background: var(--secondary-color);
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    margin: auto;
    line-height: 40px;
    position: absolute;
    top: -54px;
    left: 0;
}
.flow__step-icon {
    width:29%;
    padding: 0 0 10px 0;
}
.flow__step:nth-of-type(4) .flow__step-icon {
    padding:0 0 15px 0;
}

/*STEPラベル*/
 .step-label {
    width:150px;
    height:40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0 0 0 15px;
    background: var(--secondary-color);
    color:#fff;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%); 
}
.step-label::after {
  content: '';
  position: absolute;
  top: 0;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #FF6E4B;
}
.flow__step-description {
    margin:0;
    font-size: 1.125rem;
    text-align: center;
} 
  
/*Q&A*/
.faq {
    padding: 60px 0 80px;
}
.faq__title {
    margin:0 0 30px 0;
    text-align: center;
}
.accordion {
  width: 640px;
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.accordion__btn {
  width: 100%;
  height: 84px;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: #fff;
  cursor: pointer;
  position: relative;
}
.accordion__answer {
    text-align: start;
    font-size: 0.875rem;
    display: flex;
    margin: 0;
}
.faq__points li{
    list-style-type: disc;
}
.accordion__a {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: var(--secondary-color);
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    flex-shrink: 0;
}
.accordion__a img {
    width:15px;
}
.accordion__q {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: var(--tertiary-color);
  text-align: center;
  margin-right: 20px;
  flex-shrink: 0;
}
.accordion__text {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
}

.accordion__icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 20px;
}

.accordion__icon::before,
.accordion__icon::after {
  content: '';
  position: absolute;
  background:var(--tertiary-color);
  top: 50%;
  left: 50%;
  width: 2px;
  height: 16px;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.accordion__icon::after {
  width: 16px;
  height: 2px;
}
.accordion__btn.active .accordion__icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  background: #f9f9f9;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}
.accordion__content ul,
.accordion__content li {
  font-size: 0.875rem;
}
.faq__points li strong {
    font-weight: normal;
}
.faq__points-extra {
    font-size: 0.875rem;
    margin: 20px 0 0 60px;
}
.faq__points-extra-bt20 {
    margin: 0 0 20px 60px;
    font-size: 0.875rem;
}
.faq__points-description {
    margin: 0 0 0 60px;
    font-size: 0.875rem;
}
/* answerの説明文・全体の余白リセット＆インデント調整 */
.accordion__content ul.faq__points {
  margin: 0 20px 0 40px;
}
.accordion__content ul.faq__points li {
  list-style-type: disc;
  margin-bottom: 0.5em; 
}

.accordion__content.open {
  max-height: fit-content;
  border-radius: 0 0 10px 10px;
  padding:20px;
  background: #fff; 
}
.accordion__btn.active {
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 0;
}
/*お問い合わせ*/
.contact {
    padding:60px 0 100px;
}
.contact__wrapper {
    flex-wrap: wrap;
    text-align: center;
}
.contact__description {
    font-size: 1.25rem;
    font-weight: bold;
    margin:30px 0;
}
.contact__btn {
    max-width: 100%;
    height: 60px;
    width: 300px;
    background: var(--secondary-color);
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
}
/*フッター*/
.footer {
    margin: auto;
}
.footer__logo {
    text-align: center;
    padding:0 0 10px 0;
}
.footer__bottom {
    background: #0E245D;
    padding: 15px 0 10px;
    font-size: 0.875rem;
    color:#fff;
}
.footer__company-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__company-label {
    display: flex;
    margin: 0 10px 0 0;
}
.footer__company-label a {
    color:#fff;
}
/*  縦線*/
.with-border {
    position: relative;
    padding: 0 0 0 10px;
} 
.with-border::before {
    position: absolute;
    content: "";
    top:0;
    left:0;
    right:10px;
    bottom:0;
    width:1px;
    background: #fff;

}
.footer__company-label:nth-of-type(2) {
    text-decoration: underline;
}
.copyright {
    text-align: center;
}

/*PC表示ここまで*/

/*タブレット表示（微調整）*/
@media (max-width: 1079px) and (min-width: 769px) {
.header {
    padding:20px;
    }
    .header__container  {
        margin:0;        
    }
    
    .header__button .button-text {
    display: none; 
}
.header__nav {
    display: flex;
}
/*ボタンのテキスト非表示*/
.header__button {
    width:3.125rem;
    height:3.125rem;
    padding:0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__button i {
    width:24px;
    height:24px;
    line-height: 24px;
}
.header__button--download::after,
.header__button--contact::after {
    width:25px;
    height:25px;
    top:50%;
    right:auto;
}
/*メンビジュアル*/
.hero__title {
    font-size: 2.25rem;
}
/*左端のimgをなくす*/
.hero__media-item:nth-of-type(1) {
    display: none;
}
.br--sp {
    display: block;
}
.hero__media-item {
    width:30%;
} 
.hero__media {
    gap:5px;
}
/*こんな課題ありませんか*/
.pain-points {
    padding:0 20px;
} 
.pain-points__title {
    font-size: 1.5rem;
    margin:0 0 30px 0;
}
.pain-points__wrapper {
    padding:50px 20px;
}
.pain-points__list {
    row-gap: 20px;
    margin: 0 0 30px 0;
    flex-direction: row;
    text-align: center;
}
.pain-points__list >.pain-points__item {
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 700;
    margin: auto;
    width:100%;
}
.pain-points__media-item:nth-last-of-type(1),
.pain-points__media-item:nth-last-of-type(5) {
    display: none;

}
.pain-points__media {
    gap:5px;
    justify-content: center;
}
.pain-points__media-item {
    width:22%;
}
/*お悩み解決*/
.solution {
    /* padding:0 20px; */
} 
.solution__title {
    margin:60px 0 74px;
    font-size: 1.5rem;
    gap: 10px;
}
.only-pc {
    display: none;
}
.only-sp {
    display: block;
}
.solution__main-title {
    display: block;
}
.solution__main-title-logo { 
    width: 47.5%;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}

.solution__border {
    position:relative;
    height: 840px;
    width: 840px;
    margin: 4.625rem 0 0 0;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}
.text-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* width: 100vw;
    height: 100vw; */
    
}
.solution__wrapper {
    position:relative;
  }
  .solution__description-container {
    overflow-wrap: break-word;
    width: 80%;
    margin: 30px auto;
  }
.solution__logo {
    display: flex;
    justify-content: center;
}
.text-img {
    width: 33.5%;
    padding: 0 0 10px 0;
}
.solution__description {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
.br--desktop {
    display:none;
}
/*正円の表示・位置調整*/
.decorators__circle {
    position: absolute;
    z-index: -1;
}

.decorators__circle--3 {
    width: 25rem;
    height: 25rem;
    background:#ff6e4b;
    top: 127px;
    right: -158px;
    z-index: -2;
}
.decorators__circle--4 {
    bottom: -3px;
    left: -37px
}
  
/*利用者数アピール*/
.case-studies {
    margin: 40px auto 80px;
    padding: 0 20px;
}
.case-studies__title {
    margin:0 0 30px 0;
} 
.case-studies__subtitle {
    font-size: 1rem;
}
.highlight--strong {
    font-size: 1.25rem;
}
.case-studies__description {
    font-size: 0.875rem;
    margin:0 0 30px 0;
}
.case-studies__trusted img  {
    width:100%;
}
/*プラン*/
.plan {
    margin: 40px 0 0;
    padding: 0 20px;
}
.plan-card__logo-group{
    display: flex;
    justify-content: center;
}
.plan__decorator-circle {
    position:absolute;
    top: -478px;
    left: 169px;
}
.pricing__circle--1 {
    width:13.75rem;
    height:13.75rem;
    border-radius: 50%;
    background: var(--secondary-color);
    top:px;
    left: -100x;
    z-index: -3;
}
 .pricing__circle--2 {
    width:13.75rem;
    height:13.75rem;
    border-radius: 50%;
    background: var(--secondary-color);
    transition: 826px;
    left: 110px;
    top:-378px;
    z-index: -3;
 }
.pricing__wrapper {
    position:relative;
    overflow-x: auto;
    border-radius: 50px 0 0 50px;
}
.plan__title {
    margin:0 0 30px 0;
} 
.plan__subtitle {
    margin:0 0 30px 0;
}
.plan__description {
    font-size: 0.875rem;
    margin: 0 0 30px 0;
}
.plan__list  {
    display: block;
    height:auto;
}

.plan__decorator-circle {
    position:absolute;
    top: -22px;
    left: 353px;
}
.plan-card.plan-card--leadx {
    max-width:100%;
    margin: 30px 0;
}
.plan-card.plan-card--speedx {
    max-width: 100%;
    margin: 0 0 30px 0;
}
.plan-card__logo-group img {
    padding: 0 15px 11px 0;
}
.plan-card__logo-group img:nth-of-type(2) {
    padding:0 0 0 15px;
}
.plan-card__text--extra-space {
    margin:20px 0;
}

/*プラン表*/
.pricing-table th, .pricing-table td {
    min-width:160px;
    padding:10px 20px;
}
.pricing-table {
    width:auto;
}
.pricing__wrapper {
    overflow-x: auto;
    border-radius: 50px 0 0 50px;
}
/*オプション一覧*/
.pricing {
    padding: 30px 0 20px 30px;
}
.option {
    padding:0 20px;
     position: relative;
}
.option__inner {
    display: block;
}
.option__title {
    text-align: center;
    margin:0;
}
.option__price {
    margin: 0;
}
.option__description {
    font-size: 1rem;
} 
.option__table {
    margin:0;
}
 .option__row {
    flex-wrap: nowrap;
    justify-content: space-between;
 }
 .option__item  {
    min-width: 0;
 }
/*装飾の正円非表示*/
.pricing__circle--1 {
    display: none;
}
/*フロー*/
.flow {
    padding: 40px 20px 80px;
}
.flow__title {
    padding:0 0 30px 0;
}
.flow__step {
    max-width: 298px;
    width: 100%;
    height: 198px;
    margin: 10px auto;
    padding: 20px 20px 20px 50px;
    align-content: center; 
}
.flow__container {
    display: block;
}
.flow__body {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}
.flow__icon-label {
    width:60%;
    align-self: center;
}
.flow__description {
    font-size: 0.875rem;
}
.flow__step-icon {
    width:20%;
}
.arrow img {
    display: none;
}
/* .flow__step:hover {
    border-radius: 10px 10px 0 0;
} */
.flow__hover {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    top: 100px;
}
/*フローSP表示の部分コピーここから*/
.flow {
    padding: 40px 20px 80px;
}
.flow__title {
    padding:0 0 30px 0;
}
.flow__step {
    max-width: 340px;
     max-height: 101px;
    width: 100%;
    margin: 20px auto;
    padding: 30px 20px;
    border-radius: 10px;
}
.flow__container {
    display: block;
}
.flow__step-arrow--sp {
    display: block;
    border:none;
}
.flow__step-arrow--desktop {
    display: none;
}
.flow__body {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}
.flow__icon-label {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.flow__description {
    font-size: 0.875rem;
}
.flow__step-icon {
    width:14.6%;
    padding: 0 10px 0 0;
}
.flow__step-label {
    display: flex;
}
/*フローSP表示の部分コピーここまで*/
/*STEP　矢印*/
    .step-label {
        width: 100px;
        left: 0;
        transform: none;
        top: -40px;
        margin-bottom: 5px;
        gap: 5px;
    }
.step-label::after {
    content: '';
    position: absolute;
    top: 0;
    right: -14px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #FF6E4B;
}
/*クリックしたら展開*/
.flow__step {
    max-width: 340px;
     max-height: 101px;
    width: 100%;
    margin: 0px auto 20px;
    padding: 30px 20px;
    border-radius: 10px;
    overflow: visible;
    transition: max-height 0.3s ease;
    max-height: 101px;
}
.flow__step.open {
  max-height: 400px; 
}
/*FAQ*/
.faq {
    padding: 40px 20px 80px;
}
.accordion {
    width: 100%;
}
.accordion__text {
    font-size: 0.875rem;
}
.accordion__q { 
    margin-right:10px;
}
}
/*タブレット表示（微調整）ここまで*/

/* スマホ表示 */
@media (max-width: 768px) {
.header {
        padding: 20px;
        box-sizing: border-box; 
        max-width: none;
        width: 100%;
    }
    .header__container  {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        
    }
    
    .header__button .button-text {
    display: none; 
}
.header__nav {
    display: flex;
}
/*ボタンのテキスト非表示*/
.header__button {
    width:3.125rem;
    height:3.125rem;
    padding:0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__button i {
    width:24px;
    height:24px;
    line-height: 24px;
}
.header__button--download::after,
.header__button--contact::after {
    width:25px;
    height:25px;
    top:50%;
    right:auto;
}
/*メンビジュアル*/
.hero__title {
    font-size: 2.25rem;
}
/*左端のimgをなくす*/
.hero__media-item:nth-of-type(1) {
    display: none;
}
.br--sp {
    display: block;
}
.hero__media-item {
    width:30%;
} 
.hero__media {
    gap:5px;
}
/*こんな課題ありませんか*/
.pain-points {
    padding:0 20px;
} 
.pain-points__title {
    font-size: 1.5rem;
    margin:0 0 30px 0;
}
.pain-points__wrapper {
    padding:50px 20px;
}
.pain-points__list {
    row-gap: 20px;
    margin: 0 0 30px 0;
    flex-direction: row;
    text-align: center;
}
.pain-points__list >.pain-points__item {
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 700;
    margin: auto;
    width:100%;
}
.pain-points__media-item:nth-last-of-type(1),
.pain-points__media-item:nth-last-of-type(5) {
    display: none;

}
.pain-points__media {
    gap:5px;
    justify-content: center;
}
.pain-points__media-item {
    width:22%;
}
/*お悩み解決*/
.solution {
    /* padding:0 20px; */
} 
.solution__title {
    margin:60px 0 30px;
    font-size: 1.5rem;
    gap: 10px;
}
.only-pc {
    display: none;
}
.only-sp {
    display: block;
}
.solution__main-title {
    display: block;
}
.solution__main-title-logo { 
    width: 47.5%;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}

.solution__border {
    position:relative;
    height: 840px;
    width: 840px;
    margin: 4.625rem 0 0 0;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}
.text-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* width: 100vw;
    height: 100vw; */
    z-index: 1;
}
.solution__wrapper {
    position:relative;
  }
  .solution__description-container {
    overflow-wrap: break-word;
    width: 80%;
    margin: 30px auto;
  }
.solution__logo {
    display: flex;
    justify-content: center;
}
.text-img {
    width: 33.5%;
    padding: 0 0 10px 0;
}
.solution__description {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
.br--desktop {
    display:none;
}
/*正円の表示・位置調整*/
.decorators__circle {
    position: absolute;
    z-index: -1;
}
.decorators__circle--1 {
    display: none;
}
.decorators__circle--2 {
    display: none;
}
.decorators__circle--3 {
    width: 25rem;
    height: 25rem;
    background: #0050ff;
    top: 170px;
    right: -158px;
    z-index: -2;
}
.decorators__circle--4 {
    bottom: -3px;
    left: -37px
}
  
/*利用者数アピール*/
.case-studies {
    margin: 40px auto 80px;
    padding: 0 20px;
}
.case-studies__title {
    margin:0 0 30px 0;
} 
.case-studies__subtitle {
    font-size: 1rem;
}
.highlight--strong {
    font-size: 1.25rem;
}
.case-studies__description {
    font-size: 0.875rem;
    margin:0 0 30px 0;
}
.case-studies__trusted img  {
    width:100%;
}
/*プラン*/
.plan {
    margin: 40px 0 0;
    padding: 0 20px;
    position: relative;
    overflow-x: hidden;
}
.plan-card__logo-group{
    display: flex;
    justify-content: center;
}
.plan__title {
    margin:0 0 30px 0;
} 
.plan__subtitle {
    margin:0 0 30px 0;
}
.plan__description {
    font-size: 0.875rem;
    margin: 0 0 30px 0;
}
.plan__list  {
    display: block;
    height:auto;
}
.plan-card.plan-card--leadx {
    max-width:100%;
    margin: 30px 0;

}
.plan-card.plan-card--speedx {
    max-width: 100%;
    margin: 0 0 30px 0;
}
.plan__decorator-circle {
    position:absolute;
    top: 0;
    right: -157px;
    overflow-x: hidden;
    }

.plan-card__logo-group img {
    padding: 0 15px 11px 0;
}
.plan-card__logo-group img:nth-of-type(2) {
    padding:0 0 0 15px;
}
.plan-card__text--extra-space {
    margin:20px 0;
}

/*プラン表*/
.pricing-table {
    width:auto;
    position: relative;
}
/*SP時の矢印*/
.nav-arrow {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width:40px;
    height:40px;
    background:var(--tertiary-color);
    color:#fff;
    border:none;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
    z-index: 2;
}
.nav-arrow:hover {
    opacity: 0.8;
}
.nav-arrow--left {
    left:5px;
}
.nav-arrow--right {
    right:5px;
}
.pricing__wrapper {
    overflow-x: auto;
    border-radius: 50px 0 0 50px;
}
.pricing-table th, .pricing-table td {
   padding:  20px;
   min-width: 160px;
}
.pricing__circle--2 {
    width:13.75rem;
    height:13.75rem;
    border-radius: 50%;
    background: var(--secondary-color);
    left: -53px;
    top: -414px;
    z-index: -3;
 }

/*オプション一覧*/
.pricing {
    padding: 30px 0 20px 30px;
}
.option {
    padding:0 20px;
     position: relative;
   
}
.option__inner {
    display: block;
}
.option__title {
    text-align: center;
    margin:0;
}
.option__price {
    margin: 0;
}
.option__description {
    font-size: 1rem;
} 
.option__table {
    margin:0;
}
 .option__row {
    flex-wrap: nowrap;
    justify-content: space-between;
 }
 .option__item  {
    min-width: 0;
 }
/*装飾の正円非表示*/
.pricing__circle--1 {
    display: none;
}
.option__decorator-circle {
    position: absolute;
    top: 29px;
    left: -216px;
}
/*フロー*/
.flow {
    padding: 40px 20px 80px;
}
.flow__title {
    padding:0 0 30px 0;
}

.flow__step {
    max-width: 340px;
     max-height: 101px;
    width: 100%;
    margin: 0px auto 20px;
    padding: 30px 20px;
    border-radius: 10px;
    overflow: visible;
    transition: max-height 0.3s ease;
}

/*クリックしたらopenできるように*/
.flow__hover.open {
  max-height: 400px;
}
.flow__container {
    display: flex;
    flex-direction: column;
    gap:35px;
}
.flow__body {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}
.flow__icon-label {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.flow__description {
    font-size: 0.875rem;
}
.flow__step-icon {
    width:14.6%;
    padding: 0 10px 0 0;
}
.flow__step-arrow--desktop {
    display: none;
}
.flow__step-arrow--sp {
    display: block;
}
/*STEP　矢印*/
.step-label {
    width:100px;
    left:0;
    transform: none;
    top: -40px;
}
/*クリック後の展開*/
.flow__hover {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    top: 100px;
    }
/* .step-label {
    top: 0;
    left: -48px;
    transform: none;
    padding-left: 7px;
    width: 40px;
    height: 100%;
    text-align: center;
    font-size: 0.75rem;
    background: var(--secondary-color);
    line-height: 1.5
} */
/* .step-label::after {
    content: '';
    position: absolute;
    left:19px;
    top:100%;
    width:0;
    height:0;
    /* border-style: solid; */
    /* border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 15px solid var(--secondary-color);
    transform: translateX(-50%); */
/* }
/*FAQ*/
.faq {
    padding: 40px 20px 80px;
}
.accordion {
    width: 100%;
}
.accordion__text {
    font-size: 0.875rem;
}
.accordion__q { 
    margin-right:10px;
}
}
/*スマホ表示ここまで*/
